#l-grid {
    padding: 3px;
    backgroud-color: #440;
}

#l-grid tr {


}
#l-grid td {
    padding: 3px;
    backgroud-color: #440;

}
#l-header {
    backgroud-color: #440;
}


#portal-tabs{
   padding-top: 3px;
}
