.l-grey {
    color:#6e6e6e;
}

.app_icon {
    display:block;
    width: 70px;
    height: 80px;

    margin: 10px;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
    font-size: 10px;
    color: #6e6e6e;
    overflow: hidden;
    text-align: center;
    cursor:pointer;

}


.l-grid {
    font-size: 11px;

}

.l-row-alt td {
    background-color: #FAFAFA;

}

.l-row td {
    background-color: #ffffff;


}

.l-grid td {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom-color: #EDEDED;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.x-border-layout-ct {
    background-color: #E0E0E0;
}

.l-box-inner-scroll {
   overflow:  auto;
}

#breadcrumb {
    margin-top: 15px;
}
#breadcrumb div {
    color: black;
    display: inline;
    margin-top: 15px;
    font-size: smaller;
}
.link {
    text-decoration: underline;
}
#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
/*.x-border-layout-ct {
    background: #DFE8F6;
}*/
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}
.settings {
    background-image:url('images/settings.png');
}
.nav {
    background-image:url(../shared/icons/fam/folder_go.png);
}
.info {
    background-image:url(../shared/icons/fam/information.png);
}
.x-grid-checkheader {
    height: 18px;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-unchecked {
    background-image: url('images/unchecked.gif')
}

.x-grid-checkheader-checked {
    background-image: url('images/checked.gif');
}

.x-grid-loadingbalk {
    height: 16px;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}


.x-grid-loadingbalk-checked {
    background-image: url('images/ajax-loader-balk.gif');
}

.x-grid-checkheader-hand {
    background-image: url('images/hand.png');
}

.x-grid-checkheader-unhand {
    background-image: url('images/unchecked.png');
}

.x-grid-checkheader-setting {
    background-image: url('images/settings.png');
}

.x-grid-checkheader-hand-gray {
    background-image: url('images/hand_grey.png');
}

.x-grid-checkheader-setting-gray {
    background-image: url('images/settings_grey.png');
}

.x-grid-checkheader-setting-blue {
    background-image: url('images/settings_blue.png');
}

.x-grid-checkheader-null{
    background-image: url('images/null.png');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

/* ESF tree */

.x-grid-tree-node-expanded .x-tree-icon-parent.x-tree-custom-main_esf,
.x-grid-tree-node-expanded .x-tree-icon-parent.x-tree-custom-expert_result,
.x-grid-tree-node-expanded .x-tree-icon-parent.x-tree-custom-result {
    background-image: url('x-grid-icons/blue-ball.png');
}

.x-tree-custom-main_esf,
.x-tree-custom-expert_result,
.x-tree-custom-result {
    background-image: url('x-grid-icons/blue-ball.png');
}

.x-grid-tree-node-expanded .x-tree-icon-parent.x-tree-custom-expert_setting,
.x-grid-tree-node-expanded .x-tree-icon-parent.x-tree-custom-base_setting,
.x-grid-tree-node-expanded .x-tree-icon-parent.x-tree-custom-info_setting {
    background-image: url('/static_media/extjs/resources/themes/images/gray/tree/leaf.gif');
}

.x-tree-custom-expert_setting,
.x-tree-custom-base_setting,
.x-tree-custom-info_setting {
    background-image: url('/static_media/extjs/resources/themes/images/gray/tree/leaf.gif');
}
/* TODO: add border */
.x-tool-over img.x-tool-empty {
    background-image: url('x-tool-icons/x-tool-empty.png');
}

img.x-tool-empty  {
    background-image: url('x-tool-icons/x-tool-empty.png');
}

/* TODO: add border */
.x-tool-over img.x-tool-delete {
    background-image: url('x-tool-icons/x-tool-delete.png');
}

img.x-tool-delete {
    background-image: url('x-tool-icons/x-tool-delete.png');
}

.l-icon {
    height: 12px;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.l-icon-disk{
    background-image: url('images/disk.png');
}

.l-icon-chartline{
    background-image: url('images/chart_line.png');
}

.l-icon-delete{
    background-image: url('images/delete.png');
}

.l-icon-add{
    background-image: url('images/add.png');
}

.l-icon-chartbar{
    background-image: url('images/chart_bar.png');
}

.l-icon-setting{
    background-image: url('images/settingtable.png');
}

.l-icon-clock{
    background-image: url('images/clock-light-15x15.png');
}

.l-icon-cancel{
    background-image: url('images/cancel.png');
}

.x-grid-cell-inner { white-space: normal; }


.l-header-contextinfo {
    background: transparent;
    text-align: right;
    font-size: 9px;
    color: #555;

}
.l-header-contextinfo-area {
    padding-right: 10px;
    background: transparent;
    text-align: right;
    font-size: 9px;
    color: #555;
}

.lizard h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    color:#111;
}
.lizard h1 {
    font-size:1.4em;
    line-height:1;
    margin-bottom:0.5em;
}
.lizard h2 {
    font-size:1.3em;
    margin-bottom:0.75em;
    text-decoration: underline;
}
.lizard h3 {
    font-size:1.2em;
    line-height:1;
    margin-bottom:1em;
}
.lizard h4 {
    font-size:1.1em;
    line-height:1.25;
    margin-bottom:1.25em;
}
.lizard h5 {
    font-size:1em;
    font-weight:bold;
    margin-bottom:1.5em;
}
.lizard h6 {
    font-size:1em;font-weight:bold;
}
.lizard p {
    margin:0 0 1.5em;
}
.lizard li ul, li ol {
    margin:0;
}
.lizard ul, ol {
    margin:0 1.5em 1.5em 0;padding-left:3.333em;
}
.lizard ul {
    list-style-type:disc;
}
.lizard ol {
    list-style-type:decimal;
}
.lizard dl {
    margin:0 0 1.5em 0;
}
.lizard dl dt {
    font-weight:bold;
}
.lizard dd {
    margin-left:1.5em;
}





.lizard table {
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 640px;
	}

.lizard th {
	padding: 0 0.5em;
	text-align: left;
	}

.lizard tr.gray td {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	background: #E7E5D2;
	}

.lizard td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

.lizard td.width {
	width: 225px;
	}

.lizard td.adjacent {
	border-left: 1px solid #CCC;
	text-align: center;
	}

.wide table {
    width: 100%;
}

td.padleft {
    padding-left: 3em;
}
