.l-grid {
    font-size: 11px;

}

.l-row-alt td {
    background-color: #FAFAFA;

}

.l-row td {
    background-color: #ffffff;


}

.l-grid td {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom-color: #EDEDED;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.x-border-layout-ct {
    background-color: #E0E0E0;
}

.l-box-inner-scroll {
   overflow:  auto;
}

#breadcrumb {
    margin-top: 15px;
}
#breadcrumb div {
    color: black;
    display: inline;
    margin-top: 15px;
    font-size: smaller;
}
.link {
    text-decoration: underline;
}
#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
/*.x-border-layout-ct {
    background: #DFE8F6;
}*/
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}
.settings {
    background-image:url('images/settings.png');
}
.nav {
    background-image:url(../shared/icons/fam/folder_go.png);
}
.info {
    background-image:url(../shared/icons/fam/information.png);
}
.x-grid-checkheader {
    height: 18px;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-unchecked {
    background-image: url('images/unchecked.gif')
}

.x-grid-checkheader-checked {
    background-image: url('images/checked.gif');
}

.x-grid-checkheader-hand {
    background-image: url('images/hand.png');
}

.x-grid-checkheader-unhand {
    background-image: url('images/unchecked.png');
}

.x-grid-checkheader-setting {
    background-image: url('images/settings.png');
}

.x-grid-checkheader-null{
    background-image: url('images/null.png');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.l-icon {
    height: 12px;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.l-icon-disk{
    background-image: url('images/disk.png');
}

.l-icon-chartline{
    background-image: url('images/chart_line.png');
}

.l-icon-delete{
    background-image: url('images/delete.png');
}

.l-icon-add{
    background-image: url('images/add.png');
}

.l-icon-chartbar{
    background-image: url('images/chart_bar.png');
}

.l-icon-setting{
    background-image: url('images/settingtable.png');
}

.l-icon-clock{
    background-image: url('images/clock-light.png');
}

.l-icon-cancel{
    background-image: url('images/cancel.png');
}

.x-grid-cell-inner { white-space: normal; }