{% extends "lizard_ui/lizardbase.html" %}{% load compress i18n %}

{% block header %}
{{ block.super }}
{% endblock %}

{% block main_area %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block portal-tabs %}
<ul>
    <li><a href="#">{% trans "Beleidsthema" %}</a></li>
    <li><a href="#">{% trans "Watersysteem" %}</a></li>
    <li><a href="#">{% trans "Analyse" %}</a></li>
    <li><a href="#">{% trans "Rapportages" %}</a></li>
    <li><a href="#">{% trans "Beheer" %}</a></li>
</ul>
{% endblock %}