{% extends "lizard_ui/lizardbase.html" %}{% load compress i18n %}

{% block head-extras %}
{# Extjs and app scripts #}
{% if debug %}
<script type="text/javascript"
        src="{{ STATIC_URL }}extjs/ext-all-debug.js"></script>
{% else %}
<script type="text/javascript"
        src="{{ STATIC_URL }}extjs/ext-all-debug.js"></script>
{% endif %}
<script>
{# TO DO add production setting with  disableCaching: false later on. Possibly also add script tags of known files and compress them #}
    Ext.Loader.setConfig({disableCaching: true, enabled: true});
</script>
<script type="text/javascript"
        src="/portal/application/{{ application }}/{{ active_tab }}"></script>
{# TO DO for production, add custom made build of Openlayers #}
<script id="openlayers-script"
    type="text/javascript"
    src="{{ STATIC_URL }}OpenLayers-2.11/OpenLayers.js"
    data-openlayers-url="{{ STATIC_URL }}openlayers/"></script>

<script id="openlayers-overwrite-script"
    type="text/javascript"
    src="{{ STATIC_URL }}lizard_portal/openlayers211_overwrites.js"></script>
<script>
{# OpenLayers.ImgPath = "http://js.mapbox.com/theme/dark/" #}
OpenLayers.ImgPath = "/static_media/themes/dark/";
try {
    window.onpopstate = function(event) {
        console.log('eventstate:');
        console.log(event.state);
        if (event.state != null) {
            Ext.getCmp('portalWindow').linkTo(event.state, false);
        }
    }
}
catch (e) {
    console.warning('no window.onpopstate');
}
{% if only_portal  %}
    only_portal = true
{%  else %}
    only_portal = false
{% endif %}

url = {
   auth_password_reset: '{% url auth_password_reset %}'
}

</script>
{{ block.super }}
{% endblock head-extras %}

{% compress css %}
{% block css %}
{# Customizations for Extjs. #}
<link rel="stylesheet"
      href="{{ STATIC_URL }}extjs/resources/css/ext-all-gray.css"
      type="text/css"
      media="screen, projection" />
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_portal/lizard.css"
      type="text/css"
      media="screen, projection" />
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_portal/portal.css"
      type="text/css"
      media="screen, projection"  />

{% endblock css %}
{% endcompress %}

{% block title %}{% trans "Volg- en Stuursysteem" %}{% endblock title %}

{% block page %}

    
<div id="login-form-wrap" style="position:absolute; top:0px; left:0px; overflow:hidden;visibility:hidden;">
    <form id='loginform' method="POST" action="/user/login_redirect/" class="x-form">
    {%    csrf_token %}
    <input type="text" id="username" name="username" value=""/>
    <input type="password" id="password" name="password" value=""/>
    <input type="submit" id="submitbutton" value="Login" />
    </form>
</div>

{% endblock page %}