{% extends "lizard_ui/lizardbase.html" %}{% load compress i18n %}

{% block head-extras %}
{# Extjs and app scripts #}
<script type="text/javascript"
        src="{{ STATIC_URL }}extjs/ext-all-debug.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}{{ extjs_app }}"></script>
<script id="openlayers-script"
    type="text/javascript"
    src="{{ STATIC_URL }}OpenLayers-2.11/OpenLayers.js"
    data-openlayers-url="{{ STATIC_URL }}openlayers/"></script>

<script>
try {
    window.onpopstate = function(event) {
        console.log(event.state);
        if (event.state != null) {
            Ext.getCmp('portalWindow').linkTo(event.state, false);
        }
    }
}
catch (e) {
    console.warning('no window.onpopstate');
}

</script>
{{ block.super }}
{% endblock head-extras %}

{% compress css %}
{% block css %}
{# Customizations for Extjs. #}
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_portal/portal.css"
      type="text/css"
      media="screen, projection" />
<link rel="stylesheet"
      href="{{ STATIC_URL }}extjs/resources/css/ext-all-gray.css"
      type="text/css"
      media="screen, projection" />
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_portal/lizard.css"
      type="text/css"
      media="screen, projection" />
{% endblock css %}
{% endcompress %}

{% block title %}{% trans "Volg- en Stuursysteem" %}{% endblock title %}

{% block page %}{% endblock page %}