{% extends "lizard_ui/lizardbase.html" %}{% load compress i18n %}

{% block javascript %}
{# Extjs and app scripts #}
<script type="text/javascript"
        src="{{ STATIC_URL }}extjs/ext-debug.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_portal/dashboard.js"></script>
<!--script id="openlayers-script"
    type="text/javascript"
    src="{{ STATIC_URL }}openlayers/OpenLayers.js"
    data-openlayers-url="{{ STATIC_URL }}openlayers/"></script-->
<script>


window.onpopstate = function(event) {
    console.log(event.state);
    if (event.state != null) {
        Ext.getCmp('portalWindow').linkTo(event.state, false);
    }
}



</script>
{{ block.super }}
{% endblock %}

{% compress css %}
{% block css %}
{# Customizations for Extjs. #}
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_portal/portal.css"
      type="text/css"
      media="screen, projection" />
<link rel="stylesheet"
      href="{{ STATIC_URL }}extjs/resources/css/ext-all-gray.css"
      type="text/css"
      media="screen, projection" />
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_portal/lizard.css"
      type="text/css"
      media="screen, projection" />
{{ block.super }}
{% endblock %}
{% endcompress %}

{% block title %}{% trans "Volg- en Stuursysteem" %}{% endblock %}

{% block page %}<div id=test>test tes test test </div> {% endblock page %}